---
layout: page
---

<img src="/images/examples.png">
The figure above shows the key components of the OpenEP framework. There is a Data Parsing module which is used to convert proprietary electroanatomic mapping formats into the OpenEP data format. There are the Data Analytics modules which are used to visualise, interpret and analyse OpenEP data. Since these modules make use of the OpenEP data format, once electroanatomic mapping data is in this format each of these modules can be used to process the data. OpenEP data analysis modules are available to process activation data, voltage data, ablation data and geometric data.

<p></p>
This page details some examples on how to use the OpenEP framework. Please click through the links below. All the example data necessary for running the examples is given in the source code repository.

<p></p>
Please contact us if you have a particular analysis technique that you would like to perform but haven't yet implemented - the OpenEP framework will almost certainly simplify your work!

<p></p>

{% include inner_grid.html section=page.examples site=site %}

{{ content }}
